html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  background-size: cover;
  background: url("../assets/background.png") no-repeat right;
  height: 700px;
  font-family: 'Open Sans', sans-serif;
}

.header .form {
  height: 700px;
  position: relative;
  z-index: 1;
}

.header .form::before {
  opacity: .5;
  background: #000;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.header .form .container {
  padding: 0 30px;
}

.header .form .title h1 {
  color: white;
  margin-top: 70px;
}

.header .form .input-field input {
  width: 100%;
  padding: 20px 23px;
  height: 35px;
  background: #ebebeb;
  border: none;
  margin-top: 20px;
}

.header .form .input-field:nth-child(5) input {
  height: 70px;
}

.header .form .input-field input::placeholder {
  color: #000;
}

.header .form .privacy {
  color: white;
  margin-top: 20px;
  font-size: 12px;
}

.header .form .privacy a{
  color: red;

}
.header .form .send-button{
  width: 100%;
  height: 40px;
  padding: 0 25px;
  background: #ffcc33;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}

.header .form .send-button i {
  float: right;
}

.content {
  padding-top: 90px;
  padding-bottom: 60px;
}

.content .container .Title{
  margin-left: -16px;
}

.content .title {
  margin-bottom: 30px;
}

.content .owl-theme .owl-item {
  width: 250px !important;
  margin-right: 35px;
}

.content .owl-theme .master .head {
  background: #ffcc33;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.content .owl-theme .master .head img {
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
}

.content .owl-theme .master .info {
  background: #f3f3f3;
}

.content .owl-theme .master .info h3 {
  margin: 0;
  padding: 20px;
}

.content .owl-theme .master .info .title {
  padding: 0 20px 0 20px;
  margin-bottom: 0;
}

.content .owl-theme .master .info .subtitle {
  padding: 0 20px 20px 20px;
}
